fastapi
uvicorn[standard]
httpx
openai
anthropic
langchain-anthropic
langgraph
fatsecret
nutrichat @ git+https://github.com/Arpan-Mishra/NutriChat.git#subdirectory=nutrichat-python
sqlalchemy
psycopg2-binary
pydantic-settings
apscheduler
phonenumbers
python-dotenv
